
@font-face {
  font-family: nova-proxima;
  src: url("/assets/fonts/ProximaNova-Regular.otf") format("opentype");
}


@font-face {
  font-family: nova-proxima-semi;
  font-weight: bold;
  src: url("/assets/fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: entypo;
  font-weight: bold;
  src: url("/assets/fonts/Entypo.otf") format("opentype");
}

/* element styles */

body {
    font-family: nova-proxima, helvetica, sans-serif;
    font-size: 100%;
    background-color: #EFEEEE;
}

h1, h2, h3, h4, h5 {
  font-family: nova-proxima-semi;
  font-weight: bold;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.6em;
}


ul, li {
  font-size: 1em;
}

p {
  font-family: nova-proxima, helvetica, sans-serif;
  font-style: normal;
  font-size: 1em;
}

.page_section {
  box-shadow: 5px 5px 5px 5px#888;
  border-style:solid;
  border-color:#C0C0C0;
  border-width:1px;
  border-radius:.35em;
}

/* header and footer styles*/

.icon {
  width: 10%;
}

.content-rule {
  width: 51.8%;
  margin-left: 5%;
  size: 5px; 
}

.project_heading {
  float:left;
  margin:2em; 
}

.fancy {
  font-family: palatino;
}

#header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
  width: 47.8%;
  background-color: #FFFFFF;
  padding: 2%;
  border: 2%;
  text-align:center;
}

.header_image {
  width: 100%;
  text-align:center;
}

#footer {
  font-family: palatino;
  width: 51.8%;
  margin-top: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  background-color: #FFFFFF;
  clear:both;
}

.contact {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  background-color: #FFFFFF;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 47.8%;
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-left: 5%;
  padding: 2%;
  background-color: #FFFFFF;
  border-radius: .35em;
  overflow:auto;
}

.series {
  padding: .2em;
  padding-left: 2%;
  margin: .5em;
  background-color: #EFEEEE;
}

/* content type styles */

.date {
  font-size: .8em;
  font-family: Lucida Console;
}

.subheading {
  font-size: 2.0em; 
}

.note {
  font-size: 1.0em;
}

.code, code{
  font-family: courier;
  font-size: 1.0em;
}
/*
.follow {
  padding: 0.25em;
  background-color: #E3DAC9;
  cursor: pointer;
  display: inline-block;
  border-style: solid;
  border-width: .15em;
  margin-top: -5%;
}
*/
#title-date {
  margin-top: -5%;
  font-size: .8em;
  padding: .05em;
}

#anchor {
  text-align: center;
}

.anchor-image {
    width: 47.8%;
    height: auto;
}

.quote {
  margin: 5%;
  font-family: "georgia", serif;
  text-align: center;
}
.quotation {
  font-size: .8em;
  font-style: oblique;
}
.attribution {
  color: #A74F14;
  font-size: .8em;
}
