
@font-face {
  font-family: nova-proxima;
  src: url("/assets/fonts/ProximaNova-Regular.otf") format("opentype");
}


@font-face {
  font-family: nova-proxima-semi;
  font-weight: bold;
  src: url("/assets/fonts/ProximaNova-Semibold.otf") format("opentype");
}


body {
    font-family: nova-proxima, helvetica, sans-serif;
    font-size: 100%;
    background-color: #EFEEEE;
}


h1, h2, h3, h4, h5 {
  font-family: nova-proxima-semi;
  font-weight: bold;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}


ul, li {
  font-size: 1.10em;
}

p {
  font-family: nova-proxima, helvetica, sans-serif;
  font-style: normal;
  font-size: 1.25em;
}


.centered {
  margin-left: auto;
  margin-right: auto;
}


#header {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.content {
  width: 47.8%;
  margin-left: 5%;
  padding: 2%;
  background-color: #FFFFFF;
}

.series {
  padding: .2em;
  padding-left: 2%;
  margin: .5em;
  background-color: #EFEEEE;
}

.date {
  font-size: .8em;
  font-family: Lucida Console;
}

#title-date {
  margin-top: -5%;
  font-size: .8em;
  padding: .05em;
}

#anchor {
  text-align: center;
}

.anchor-image {
    width: 47.8%;
    height: auto;
}

.quote {
  margin: 5%;
  font-family: "georgia", serif;
  text-align: center;
}
.quotation {
  font-size: .8em;
  font-style: oblique;
}
.attribution {
  color: #A74F14;
  font-size: .8em;
}
