<div id="footer" class="page_section">
  <div class="contact">
    <p class="fancy">
      Lorin Beer<br />
      Computing Scientist at Adobe<br />
      lorin at adobe dot com
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://twitter.com/doggerelverse" target="_blank">twitter</a><br />
      <a href="https://github.com/lorinbeer" target="_blank">github</a><br />
      <a href="https://plus.google.com/103829733074359570476" target="_blank">google+</a><br /> 
    </p>
  </div>
</div>
