<div id="header" class="page_section">
    <a href="http://lorinbeer.github.io/"><img class="header_image" src="http://i.imgur.com/0OG0eUH.png"</img></a>
    <div id="navbar" class="fancy">
        <ul>
          <li style="display:inline;"><a href=""><a href=""><img src="http://i.imgur.com/HNbHXHP.png" alt="about me" width="64px" height="64px"></img></a></a></li> 
          <li style="display:inline;"><a href="posts.html"><img src="http://i.imgur.com/aOQEb9X.png" alt="blog" width="64px" height="64px"></img></a></li>
          <li style="display:inline;"><a href="https://github.com/lorinbeer"><image src="http://i.imgur.com/Hiwu6oq.png" alt="github" width="64px" height="64px"></image></a></li>
          <li style="display:inline;"><a href="https://twitter.com/lorinbeer"><image src="http://i.imgur.com/hg7KJwO.png" alt="twitter" width="64px" height="64px"></image></a></li>
    </div>
</div>
