<div id="header" class="page_section">
    <a href="http://lorinbeer.github.io/"><image class="header_image" src="http://i.imgur.com/0OG0eUH.png" height="216" width="648"</image></a>
    <div id="navbar" class="fancy">
        <p style="font-family:entypo;"> aseoh </p>
        <ul>
          <li style="display:inline;"><a href=""><a href="http://imgur.com/9zUXr9W"><img src="http://i.imgur.com/9zUXr9W.png" alt="about me" width="64" height="64"></img></a></a></li> 
          <li style="display:inline;"><a href="posts.html"><img src="http://i.imgur.com/aOQEb9X.png" alt="blog" width="64" height="64"></img></a></li>
          <li style="display:inline;"><a href="https://github.com/lorinbeer"><image src="http://i.imgur.com/Hiwu6oq.png" alt="github" width="64" height="64"></image></a></li>
          <li style="display:inline;"><a href="https://twitter.com/lorinbeer"><image src="http://i.imgur.com/hg7KJwO.png" alt="twitter" width="64" height="64"></image></a></li>
    </div>
</div>
