<div id="header" class="page_section">
    <a href="http://lorinbeer.github.io/"><image class="header_image" src="http://i.imgur.com/0OG0eUH.png"></image></a>
    <div id="navbar" class="fancy">
        <ul>
          <li style="display:inline;"><a href=""><image src="http://i.imgur.com/zYrss9x.png" style="width:64px"></image></a></li> 
          <li style="display:inline;"><a href="posts.html"><image src="http://i.imgur.com/aOQEb9X.png"></image></a></li>
          <li style="display:inline;"><a href="https://github.com/lorinbeer"><image src="http://i.imgur.com/pxJTnLm.gif" style="width:64px;"></image></a></li>
          <li style="display:inline;"><a href="https://twitter.com/lorinbeer"><image src="http://i.imgur.com/hg7KJwO.png"></image></a></li>
    </div>
</div>
