---
layout: default
---
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/js/shBrushJScript.js"></script>
<link href="/css/shCore.css" rel="stylesheet" type="text/css" />
<link href="/css/shThemeDefault.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<div id="post">

    <div class="date" id="title-date">
      <p> {{ page.date }} </p>
    </div>

    <div id="title">
        <h1> {{ page.title }}
    </div>    

    <hr />   
 
    <div id="subtitle">
      <h2> {{ page.subtitle }} </h1>
    </div>

    {% if page.anchor %}
    <div id="anchor" class="centered">
        <image class="anchor-image" src={{ page.anchor }}></image>
    {% endif %}
    </div>
    <div class="quote centered">
        <div class="quotation">
            <blockquote>{{ page.quotation }}</blockquote> 
        </div>
        <div class="attribution">
            <p>{{ page.attribution }}</p>
        </div>
    </div>

    <div>
        {{ content }}
    </div>

    {% if page.series %}
    <div class="series"> 
    {{ '<h2>Articles in the ' }} {{ page.series }} {{ 'series </h2>'  }}
    {{ '<hr />' }}
    {% for post in site.tags[page.series] %} 
      <p>
        <a href={{ post.url }}>{{ post.title }}</a>
      </p>
    {% endfor %}
    </div>
    {% endif %}

    <hr />

    <!-- DISQUS -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'ensufire'; 
        <!-- DON'T EDIT BELOW THIS LINE -->
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
